@model Dachi;
    <div class="form-group text-center">
        <form asp-action="create" asp-controller="Home" method="post">
            <span asp-validation-for="Name"></span>
            <label class="form-label text-center" asp-for="Name"></label>
            <div class="col-4 mb-4 text-center mx-auto" style="width: 200px">
                <input class="form-control" asp-for="Name">
            </div>
            <input type="submit" value="Create" class="btn btn-success">
        </form>
    </div>
